<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>

<br>
<h3>What is good my fellows? Very nice of you to come visit my site.</h3>
<br>

<p>My name is Maksim Zarkovich. I am the creator of this magnificent geography website. As you can probably guess, I am a big fan of geography. I love learning about the world and knowing countries, cities, and people! (Food too!)</p>
<br>

<img src="static/dark_globe.jpg" alt="Error" width="700px">
{% endblock %}