<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us (ME)</h1>

<br>
<h3>What is good my fellows? How very nice of you to come visit my site.</h3>
<br>

<p>My name is Maksim Zarkovich. I am the creator of this magnificent geography website. As you can probably guess, I have quite a strong interest in geography. I love learning about the world, countries, cities, and people! (And how could I forget: Food too!)</p>
<br>

<h4>Intended Purpose:</h4>
<br>

<p>I built this website to form a geography community and to grow that community. My aim is to help people show their interet for geography, or if they don't have one, find their interest for geography.</p>
<br>
<h4>Interactivity:</h4>
<br>
<p>Currently, I have two types of users, geo-novices and geo-experts. I trust that you know yourself and don't feel the need to lie about this. Why you would want to do that? This will simply let other users get a little more context about you as they read your posts and comments!</p>

<img src="static/dark_globe.jpg" alt="Error" width="700px">
{% endblock %}